.contact-img 
{
  flex: 1;
  background: url("https://cdn.britannica.com/23/126823-050-820B0A1F/Field-sugarcane-St-George-Parish-Barbados.jpg")
    no-repeat center;
  background-size: cover;
  clip-path: ellipse(80% 100% at 20% 50%);  
  box-shadow: var( --box-shadow);
  object-fit: cover;
 
}
.contact-page-container {
  display: flex;
  height: 900px;
}
.contact-form {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 5rem;
  }
  .contact-form h1 {
    font-size: 2rem;
    font-weight: 600;
    color: var(--primary-color);
    margin-bottom: 20px;
    text-align: center;
    margin-top: 2rem;
  }
  .contactUs-form {
    width: 650px;
    padding: 20px;
  }
  .contactUs-form label{
    color: var(--primary-color);
    font-size: 1.2rem;
   
  }
  .contactUs-form input{
    border: none;
    border-bottom: 1px solid var(--primary-color);
    width: 400px;
    padding: .5rem;
    transition: 250ms;
   margin-bottom: 1rem;
    
  }
  .contactUs-form input:hover{
   transform: scale(1.01);
  }
  .contactUs-form textarea{
    border: none;
    border: 1px solid var(--primary-color);
    width: 400px;
    padding: .7rem;
    border-radius: 15px;
  }
  .contactUs-form button{
 
    padding: .9rem 1.5rem;
    background: var(--primary-color);
    border: none;
    color: var(--contact-form-BtnText);
    font-size: 16px;
    border-radius: 15px;
    cursor: pointer;
    margin-bottom: 9rem;
    box-shadow: 2px 2px  10px #0000008a;
    transition: 250ms;
  }
  .contactUs-form button:hover{
    background: var(--Btn-hover-color);
    
  }