.heading1 {
    font-size: 2rem;
    font-weight: 600;
    color: var(--primary-color);
    margin-top: 6rem;
    margin-left: 3rem;
  }
  .motive-section,
.innovation-section {
  display: flex;
}
.motive-section p {
  font-size: 1.1rem;
  color: var(--primary-color);
  margin: 2rem 3rem 0 3rem;
  text-align: justify;
  line-height: 1.4rem;
}
.motive-section .motive-img {
  width: 400px;
  margin-right: 2rem;
  border-radius: var(--img-border-radius);
  box-shadow:var( --innovation-box-shadow);
  object-fit: cover;
}
.innovation-section {
  margin-bottom: 4rem;
}
.innovation-section .innovation-img {
    width: 500px;
    margin-left: 3rem;
    margin-top: 4rem;
    border-radius: var(--img-border-radius);
    box-shadow: var( --innovation-box-shadow);
    object-fit: cover;
  }
  .heading2 {
    font-size: 2rem;
    font-weight: 600;
    color: var(--primary-color);
    margin: 6rem 0 3rem 3rem;
  }
  .innovation-section .innovation-text p {
    font-size: 1.1rem;
    color: var(--primary-color);
    margin: 2rem 2rem 0 3rem;
    text-align: justify;
    line-height: 1.7rem;
  }
  .icons {
    display: flex;
    justify-content: end;
    gap: 2rem;
    margin-right: 25rem;
    margin-bottom: 3rem;
  }
  .icons i {
    color: var(--primary-color);
    transition: 250ms;
  }
  .icons i:hover {
    color: var(--navbar-bg-color);
  }
  .like:hover {
    fill: var(--navbar-bg-color);
  }
  

  @media screen and (max-width:1000px){
    .heading1,
    .heading2 {
      font-size: 1.3rem;
    }
    .motive-section .motive-img  {
      width: 300px;
      height: 400px;
    }
    .motive-section,
    .innovation-section{
     justify-content: center;
     align-items: center;
    }
    .innovation-section .innovation-img{
      width: 400px;
      height: 300px;
    }
  }
  @media screen and (max-width:850px){
    .motive-section{
     flex-direction: column;
     gap: 3rem;
    }
    .motive-section .motive-img  {
      width: 90vw;
      height: 400px;
      margin: 0;
    }
    .innovation-section{
     flex-direction: column;
    }
    .innovation-section .innovation-img{
      width: 90vw;
      height: 500px;
      margin: 0;
      margin-top: 5rem;
     
    }
    .icons {
      display: flex;
      justify-content: center;
      gap: 2rem;
      margin: 0 auto;
      margin-bottom: 1rem;
    }
  }

